<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.souravshrestha.newsbullets">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".NewsBulletins" />
        <activity android:name=".EachBulletActivity" />
        <activity android:name=".RegionalBulletins" />
        <activity android:name=".TextNews" />
        <activity android:name=".RadioAll" />
        <activity android:name=".EachArchiveActivity" />
        <activity android:name=".ArchiveAll" />
        <activity android:name=".EachTextNews" />
        <activity android:name=".EachTextNewsContentActivity"></activity>
    </application>

</manifest>